.featured {
  flex: 7;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 5px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .title {
    margin-bottom: 10px;
    color: gray;
    font-weight: 500;
  }
  .chartGrid {
    stroke: gray;
  }
}
