.chart {
  flex: 3;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    .title {
      font-size: 15px;
      font-weight: 300;
      padding: 5px;
    }
  }
  .bottom {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;

    .featuredChart {
      height: 100px;
      width: 100px;
    }

    .title {
      font-weight: 300;
      color: gray;
    }
    .amount {
      font-size: 30px;
    }
    .desc {
      font-weight: 300;
      color: gray;
      font-size: 12px;
    }
    .summary {
      padding: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;

      .item {
        text-align: center;
        flex: 1;
      }

      .itemTitle {
        font-size: 14px;
        color: gray;
      }
      .itemResult {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        font-size: 15px;

        &.positive {
          color: green;
        }

        &.negative {
          color: red;
        }
      }
    }
  }
}
